@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======Common styles===== */

.color1 {
  color: rgba(0, 0, 0, 1);
}
.color2 {
  color: rgba(233, 90, 8, 1);
}

/* font-family: "Noto Serif", serif; */

/* nav start */

.time-icon{
    display: none;
}

nav {
  border: 1px solid black;
  max-width: 1140px;

  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log0 {
  width: 135px;
  height: 80px;
}

.nav-ul-container {
  border: 1px solid tomato;
}
.nav-links {
  width: 415px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
}

.nav-links li:first-child a {
  color: #252432;
  font-weight: 700;
}

.nav-links li:nth-child(2) a,
.nav-links li:nth-child(3) a {
  color: #8987a1;
  font-weight: 400;
}

.nav-links li:last-child a {
  font-weight: 400;
  color: #000000;
}
.nav-links li:last-child i {
  margin-right: 9px;
}

.fa-light {
  background-color: red;
}


/* ========Hero ====== */


.hero{
    border: 1px solid red;
     max-width: 1140px;
     /* height: 461px; */
     margin: 120px auto;
     display: flex;
     align-items: flex-end;
     justify-content: center;

}

.hero-text{
    border: 1px solid cyan;
}

.hero-text h1{
        color:#000000 ;
    font-weight: bold;
    font-size: 3.91rem;
    font-family: "Noto Serif", serif;
    margin-bottom: 7px;
            
}

.hero-text span{
    
    color: #E95A08;
}

.hero-text p{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

.hero-img{
    border: 1px solid;
}


/* ===========our/store================ */

.our{
    border: 1px solid red;
    max-width: 1140px;
    margin: 0px auto;


}

.our-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.our-text h1{
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 3.125rem;
}
.our-text h1 span {
    color: #E95A08;
}
.our-text p {
    max-width: 870px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
    margin-bottom: 49px;
}

.card {
    border: 1px solid green;
    /* width: 270px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    border-radius: 5px;
    
}
.card-text{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    color:rgba(17, 17, 17, 1);
    font-size: 1.2rem;
    font-weight: 550;
}

.btn{
    width: 100%;
    padding: 12.6px;
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 5px;
}


.card-img img{
    width: 100%;
}
.store{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px 13px;
}


/* lover section============== */
.lover{
    margin-top: 200px;
}
.lover-sub{
    border:1px solid #E95A08;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
}

.lover-img{
    border: 1px solid darkcyan;
    width: 50%;
    /* margin-top: 11px; */
}
.badge{
    border: 1px solid tomato;
    width: 250px;
    transform:translateX(-170px) translateY(-127px);
    display: inline;
    z-index: 2;

}
.man{
width: 100%;
}
.lover-text{
    width: 50%;

}

.lover-text-content{
    border: 1px solid black;
    padding-left:65px;
    padding-right: 1.1px;
    height: 90%;
    
    transform: translateY(-221px);

}

.lover-text-content h1{

font-weight: bold;
font-size: 3rem;
font-family: "Noto Serif", serif;
margin-bottom: 33px;

    
}

.lover-text-content ul{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    
}

.lover-text-content ul li{
    margin-top: 18px;
}

/* ============Deal Section============ */

.deal{
    border: 1px solid maroon;
    max-width: 1140px ;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.deal-img-container{
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    align-items: center;

}

.deal-text{
    
    max-width: 854px;
    text-align: center;
    margin: 100px auto;
    

}
.deal-text h1{
    font-size: 3rem;
    font-weight: bold;
}

.deal-text span {
    color: #E95A08;
}
.deal-text p{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
}

.left-up{
    background-image: url("assets/deal-bloom.png");
    width: 367px;
    height: 200px;
    
            display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.left-down{
    background-image: url("assets/deal-ana.png");
     width: 367px;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-right{
    /* background-image: url("assets/deal-zabo.png"); */
    background:url("assets/deal-zabo.png");
    width: 753px;
    height: 423px;
   
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.img-left{
    /* width: 25%; */
    border-radius:14px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.img-right , .left-up , .left-down{
    border-radius: 22px;

}

.img-left , .img-right {
    color: #FFFFFF;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 1.3rem;

}
.img-left a {
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 550;
}
.img-right p {
    font-size:2.4rem ;
}
.img-right a {
    font-size: 1.7rem;
    color: #FFFFFF;
    font-weight: 550;
}



.left-up,
.left-down,
.img-right {
  position: relative;
  z-index: 0;
}

.left-up::before,
.left-down::before,
.img-right::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
  border-radius: 22px;
}


.left-up p,
.left-down p,
.img-right p,
.left-up a,
.left-down a,
.img-right a {
  position: relative;
  z-index: 2;

}

/* ==========join section ============== */

.join{
    width: 100%;
    height: 70vh;
    background-image: url("assets/news-letter-bg.png");
    background-size: cover;
    background-position: center;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:120px ;
}

.join-content{
    border: 1px solid red;
    width: 70vw ;     

}
.join-content h1{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 23px;
    
    
}
.join-content form{
    width: 100%;
    display: flex;

}
.join-content form input{
    width: 70%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
}

.join-content form input[type="email"]{
    padding:1.003rem 1.1rem;
    color: rgba(0, 0, 0, 0.5);

}
.join-content form input[type="email"]:focus{

    outline: none;
}


.join-content form button{
    width: 30%;
    column-rule-color: #FFFFFF;
        border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
    font-weight: 500;
}



/* ============footer section=============== */


footer{
    height: 30vh;
    margin: ;
}
.footer-sub{
    
    border: 1px solid chocolate;
    max-width: 1120px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    height: 28vh;
}

.footer-sub div {
    border: 1px solid red;
}

.footer-links {

    display: flex;
    justify-content: space-around;

}
.footer-links a{
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
 
}

.footer-links div{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    
}

.footer-icons{
    display: flex;
    justify-content: space-evenly;

}
.footer-icons img{

}




/* ==========Responsive======== */

@media screen and (max-width: 576px) {
  .nav-links li:nth-child(1) a,
  .nav-links li:nth-child(2) a,
  .nav-links li:nth-child(3) a {
    display: none;
  }

  nav {
        max-width: 98vw;
        justify-content: space-between;
          margin: 0px auto;
        margin-top: 13px;
  }

  .nav-links {
    border: 1px solid aqua;
    max-width: 113px;
    height: 38px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }


.time-icon{
    font-size: 1.40rem;
    /* font-weight: bolder; */
    border: 1px solid rgb(255, 140, 0);
    display: block;
    width: 100vw;
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
     margin: 0px auto;


}

.time{
    width: 138px;
    font-weight: 600;
    
}
.icons{
    border: 1px solid red;
    width: 100px;
    display: flex;
    justify-content: space-evenly;


}


.hero{
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 50px;

}

.hero-text{
    order: 3;
    /* width: 360px; */
    padding: 0px 17px;
    margin: 0px auto;
}
.hero-text h1{
    font-size: 1.8rem;
    margin-bottom: 13px;
    margin-top: 20px;
}
.hero-text p {
    font-size: 16px;
    
}

.hero-img img{
    width: 100%;
}


.our-text p{
    width: 336px;
    text-align: center;
    margin: 16px 0px;
    

}
.card{
    margin-top: 9px;
}

.our-text h1{
    font-size: 1.6rem;
}

.store{
    grid-template-columns: repeat(2 , 1fr);
    gap: 18px 15px;
    padding: 0px 8px;
}

.lover-sub{
    flex-direction: column;
}

.badge{
    display: none;
}


.man{
    width: 97%;
}
.lover-img{
    padding: 11px;
}
.lover-img , .lover-text{
    width: 100%;
}

.lover-text-content{
    width: 97%;
    transform: translateY(0px);
}

.lover-text-content h1{
    font-size: 1.6rem;
}



.deal-img-container{
    flex-direction: column;
    gap: 20px;
}

.img-right{
    
   width: 367px;
  height: 200px;
}

.deal-img-container p {
    font-size: 1.3rem;
}
.deal-img-container a {
    font-size: 1rem;
}

.join{
    height: 35vh;
    margin-top: 40px;
    
}

.join-content h1{
    font-size: 1.4rem;
}























}
